@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';
@import 'icons/fontello.css';

html * {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

body {
  line-height: 1.5em;
  padding-bottom: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.5em;
  padding: 0;
}

.header-btn {
  vertical-align: middle;
  border: 0px;
  display: inline-block;
  padding: 5pt;
  background: #F0F0F0;
  color: #666;
  border-radius: 5px;
  font-size: 10pt;
  line-height: 10pt;
}

.header-btn:hover {
  color: #444;
}

p {
  margin: 0;
  margin-top: 10px;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

code {
  background-color: #F6F6F6;
  color: #222;
  padding: 5px;
}

pre {
  overflow: auto;
}

pre code {
  padding: 10px;
}

a {
  font-weight: 700 !important;
  border-bottom: 1px dotted #2196F3;
  text-decoration: none;
  color: #2196F3;
}
a:hover {
  color: #1E88E5;
  border-color: #1E88E5;
}

.global-wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}


header {
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

header .global-wrapper {
  background-image: url('images/lion.png');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: 20px 0px;
  padding: 0px;
  padding-left: 200px;
  height: 150px;
  position: relative;
}

header h1 {
  margin: 0 !important;
  line-height: 2.2;
  font-size: 35pt;
}

header .button {
  float: right;
  margin: 10px;
  display: block;
  width: 75px;
  height: 75px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
}
header .button.stackoverflow {
  background: transparent url(images/stackoverflow-button.png) center center no-repeat;
}
header .button.github {
  background: transparent url(images/github-button.png) center center no-repeat;
}
article {
  border-left: 2px solid rgba(0,0,0,0.2);
  background-color: rgba(200,200,200,0.1);
  padding: 10px;
  margin-bottom: 10px;
}

/* GENERAL ELEMENT TYPE STYLES */

.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  content: '';
}